#signatureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* background-color: rgb(161, 161, 161); */
    /* margin-top: 100px; */
}

#signatureCanvas {
    border: 1px solid black;
    cursor: crosshair;
}

.upload-signature-file {
    display: none;
}

.upld-btn {
    cursor: pointer;
}